// Colors
$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$varyLightGray: hsl(0, 0%, 98%);

// Font
$font: 'Be Vietnam Pro', sans-serif;
$fontSize: 16px;
$fontS: 400;
$fontM: 500;
$fontL: 700;

// Transition
$transition: 0.3s;